@using UrlCompressor.Domain
@using System.Globalization
<div class="content">
    <h1 class="display-4">url-compressor</h1>
    <form method="post">
        <input class="ghost-input" type="text" name="url" required placeholder="https://google.com" />
        <input class="ghost-button" type="submit" value="Create" />
    </form>
</div>